/* основной цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* основной цвет фона, заголовка и текста кнопок #ffffff */
/* вторичный цвет фона #f5f4fa */
/* цвет фона футера #2f303a */
/* цвет акцента #2196f3 */
/* цвет ховер главной кнопки #188ce8 */
/* цвет текста в футере rgba(255, 255, 255, 0.6) */
/* цвет фона карточек #EEEEEE */

:root {
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --hover-main-btn-color: #188ce8;
  --accent-text-and-bg-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --bg-color-card: #eeeeee;
}

/* Убираем внешние отступы */
h1,
h2,
h3,
p,
ul {
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  /* font-size: 16px;
  line-height: 1.19; */
  letter-spacing: 0.03em;

  background-color: var(--accent-text-and-bg-color);
  color: var(--main-text-color);
}

button {
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

/* Убираем внутренние отступы и стандартную стилизацию для списков */
.list {
  padding: 0;
  list-style: none;
}

.text {
  color: var(--secondary-text-color);
}

.section {
  padding: 94px 0;
}

.section.no-padding {
  padding-bottom: 0;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.title-hidden {
  visibility: hidden;
}

.item-title {
  margin-bottom: 10px;
}

.button {
  min-width: 200px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: var(--accent-text-and-bg-color);
}

.button:hover,
.button:focus {
  background-color: var(--hover-main-btn-color);
}

/* ---------- HEADER ---------- */

.header {
  border-bottom: 1px solid #ececec;
}

/* ---------- LOGO ---------- */

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  color: var(--accent-color);
}

.logo .logo-header {
  color: var(--main-text-color);
}

.logo-header:hover,
.logo-header:focus,
.logo-footer:hover,
.logo-footer:focus {
  color: var(--accent-color);
}

/* ---------- MENU ---------- */

.main-nav,
.nav-menu {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  margin-left: 93px;
}

.menu .item + .item {
  margin-left: 50px;
}

.menu .link {
  display: block;
  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: var(--main-text-color);
}

/* ---------- CONTACTS ---------- */

.header-contact {
  display: flex;
  margin-left: auto;
}

.header-contact .item + .item {
  margin-left: 50px;
}

.header-contact .link {
  display: block;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;

  color: var(--secondary-text-color);
}

.link.current,
.nav-menu .link:hover,
.nav-menu .link:focus,
.header-contact .link:hover,
.header-contact .link:focus,
.footer-contact .link:hover,
.footer-contact .link:focus {
  color: var(--accent-color);
}

/* ---------- FOOTER ---------- */

.footer {
  padding: 60px 0;
  background-color: var(--footer-bg-color);
}

.logo-footer {
  color: var(--accent-text-and-bg-color);
}

.footer-contact {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.address {
  color: var(--accent-text-and-bg-color);
  text-decoration: none;
}

.footer-contact .link {
  color: var(--footer-text-color);
  text-decoration: none;
}

/* ---------- HERO ---------- */

.hero {
  text-align: center;
  background: var(--footer-bg-color);
}

.hero .container {
  max-width: 696px;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--accent-text-and-bg-color);
}

.hero-btn {
  padding: 10px 32px;
}

.hero-btn,
.filter-btn {
  border: 0;
  border-radius: 4px;
}

/* ---------- FEATURES ---------- */

.features-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features-item {
  display: block;
  max-width: 270px;
}

.features-item .item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-item .text {
  font-size: 14px;
  line-height: 1.71;
}

/* ---------- ABOUT ---------- */

.about {
  display: flex;
  justify-content: space-around;
}

.about-img,
.team-img {
  display: block;
}

/* ---------- TEAM ---------- */

.team {
  background-color: var(--secondary-bg-color);
}

.team-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-item {
  background-color: var(--accent-text-and-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.item-desc {
  padding: 30px 10px;
}

.team .item-title,
.team-item .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-item-title {
  font-weight: 500;
}

/* ---------- FILTER ---------- */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list .item + .item {
  margin-left: 8px;
}

.filter-list .link {
  display: block;
}

.filter-btn {
  margin-right: 8px;
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;

  background-color: var(--secondary-bg-color);
}

.filter-btn:hover,
.filter-btn:focus,
.filter-btn.current {
  background-color: var(--accent-color);
  color: var(--accent-text-and-bg-color);
}

/* ---------- EXAMPLES ---------- */

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolio-item {
  margin-bottom: 30px;
  border: 1px solid var(--bg-color-card);
}

.portfolio-item:nth-last-of-type(-n + 3) {
  margin-bottom: 0;
}

.portfolio .link {
  color: var(--main-text-color);
  text-decoration: none;
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio .text {
  font-size: 16px;
  line-height: 1.87;
}

.portfolio-desc {
  padding: 20px 24px;
}
